html {
  font-family:'Hind Siliguri', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.msg {
  font-size: 1.8rem;
  line-height: 1.5;
  width: 75%;
  text-align: justify;
}
.msg.info {
  margin-top: 2rem;
}
a {
  color:#000;
  text-decoration: none;
  border-bottom: 2px dotted black;
}
a:hover {
  background-color: #F6F525;
  border-bottom: none;
}
a:visited {
  color: #000;
  text-decoration: dotted;
}